@import "../../variables.scss";

.navbarContainer {
    display: flex;
    justify-content: space-between;
    background-color: $secondary-background-color;


    .header {
        font-family: $primary-font;
        font-size: 75px;
        color: $primary-font-color;
        background-color: $secondary-background-color;
        text-decoration: none;
    }

    .linkContainer {
        font-family: $secondary-font;
        font-size: 30px;
        color: $secondary-font-color;
        background-color: $secondary-background-color;

        .pageLink {
            padding: 30px;
            text-decoration: none;
            color: $secondary-font-color;
            background-color: $secondary-background-color;
        }
    }
}