@import '../../variables.scss';

.footer {
    font-family: $secondary-font;
    color: $secondary-font-color;

    .linkContainer {
        display: flex;
        justify-content: space-around;
        padding: 20px;


        .pageLink {
            color: $secondary-font-color;
            text-decoration: none;

        }
    }

    .footerText {
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }
    
}