@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$primary-font: Lobster;
$secondary-font: Quicksand;

$primary-font-color: #454B3C;
$secondary-font-color: #7C9271;

$primary-background-color: #E5E3DD;
$secondary-background-color: #D5D3C4;