@import "../../variables.scss";

.dashboardContainer {
    background-color: $primary-background-color;

    .sectionHeader {
        font-family: $primary-font;
        font-size: 35px;
        color: $primary-font-color;
    }
}